<style>
  .text-label {
    width: 300px;
    padding: 0.5em;
  }
</style>
<%= form_for(@drug, html: {class: 'entry-form'}) do |f| %>
  <% if @drug.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@drug.errors.count, "error") %> prohibited this drug from being saved:</h2>

      <ul>
      <% @drug.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group row">
    <div class="col-md-3">
      <%= f.label :brand_name %><br>
      <%= f.text_field :brand_name, class: 'text-label', placeholder: 'e.g. NAPA' %>
    </div>

    <div class="col-md-3">
      <%= f.label :generic_name %><br>
      <%= f.text_field :generic_name, class: 'text-label', placeholder: 'e.g. Paracetamol'  %>
    </div>
    <div class="col-md-3">
      <%= f.label :company_name %><br>
      <%= f.text_field :company_name , class: 'text-label', placeholder: 'e.g. Beximco' %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-3">
      <%= f.label :product_type %><br>
      <%= f.text_field :product_type, class: 'text-label', placeholder: 'e.g. Tab.' %>
    </div>
    <div class="col-md-3">
      <%= f.label :dose %><br>
      <%= f.text_field :dose, class: 'text-label', placeholder: 'e.g. 500mg/tablet'  %>
    </div>
    <div class="col-md-3">
      <%= f.label :quantity %><br>
      <%= f.text_field :quantity, class: 'text-label', placeholder: 'e.g. 200 pack'  %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-3">
      <%= f.label :price %> (MRP)<br>
      <%= f.text_field :price , class: 'text-label', placeholder: 'e.g. 325.00' %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-3">
      <%
        if @drug.img
          img_url = '/images/upload/' + @drug.img
        end
      %>
      IMAGE: <br>
      <img src="<%=img_url%>" height="100px" width="auto"></img>

      <%= f.file_field :picture %>
    </div>
  </div>


  <div class="actions">
    <%= f.submit "Submit", class: 'btn submit-btn', data: { confirm: 'Submit drug information?' } %>
  </div>
<% end %>
